html {
  scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;    
}

.heart {
    position: relative;
    width: 250px;
    height: 250px;
    border: none;
    background-color: #ffffff;
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: 0.1s;

    cursor: pointer;
}

.heart.added {
    background-image: url(../img/heart-fill.svg);
}

.likes-number {
    position: absolute;
    right: -50px;
    font-size: 25px;
   
}
.popup {
    position: relative;
    
    
}
.popup__content {
    display: none;
    position: absolute;
    top: -10%;
    min-width: 10%;
    height: 50px;
    
    background-color: rgba(0, 0, 0, 0.3);
}

.popup__button {    
    position: relative;
    cursor: pointer;    
}
.button--close {    
    
}

/* Стили текста-кнопки */
.tooltip-button {
    cursor: pointer;
    position: relative;
    padding: 1px 8px;
    border: none;
    color: inherit;
    font: inherit;
  }
  
  .tooltip-button::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 4px solid;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  
  /* Стили тултипа */
  @keyframes tooltip-opener {
    0% {
      transform: translate(50%) scaleX(0);
    }
  
    100% {
      transform: translate(100%) scaleX(100%);
    }
  }
  
  .tooltip {
    z-index: 2;
    display: none;
    flex-direction: row-reverse;
    position: fixed;
    max-width: 256px;
    right: 0;
    top: 160px;
    border-radius: 8px 0 0 8px;
  }
  
  .opened {
    display: flex;
    animation: tooltip-opener 150ms;
  }
  
  .tooltip-text {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .close-button {
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: 0;
    padding: 0;
    border-radius: 8px 0 0 8px;
  }
  
  .close-button span {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(-90deg);
  }
  
  /* Стили блока ввода комментария */
  .comment-area {
    height: unset;
    resize: none;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 24px;
  }
  
  .text-counter {
    display: inline-block;
    vertical-align: baseline;
    padding: 7px 0;
    margin-right: auto;
  }
  
  .comment-form.warning .comment-label {
    color: #f05b29;
  }
  
  .comment-form.warning .comment-area {
    color: #f05b29;
    border-color: #f05b29;
  }
  
  .comment-form.warning .comment-area:focus {
    outline-color: #f05b29;
  }
  
  .comment-form.warning .char-counter {
    color: #f05b29;
    font-weight: bold;
  }
  
  .submit-button:disabled {
    opacity: 0.25;
  }
  
  /* Цветовые темы */
  .light-theme .tooltip {
    background-color: #ffffff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  }
  
  .light-theme .tooltip-button {
    background-color: #f2f2f2;
  }
  
  .light-theme .tooltip-button:focus,
  .light-theme .tooltip-button:hover {
    background-color: #6653d9;
    color: #ffffff;
    outline-color: #b6aaff;
  }
  
  .tooltip-button:active {
    opacity: 0.6;
  }
  
  .light-theme .tooltip-button::after {
    border-right-color: #6653d9;
    border-top-color: #6653d9;
  }
  
  .dark-theme .tooltip {
    background-color: #2a2930;
    box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  }
  
  .dark-theme .tooltip-button {
    background-color: #0a0910;
  }
  
  .dark-theme .tooltip-button:focus,
  .dark-theme .tooltip-button:hover {
    outline-color: #6653d9;
    background-color: #b6aaff;
    color: #17161a;
  }
  
  .dark-theme .tooltip-button::after {
    border-right-color: #b6aaff;
    border-top-color: #b6aaff;
  }
  
  .red {
    height: 100vh;
    background-color: red;
  }

  .green {
    height: 100vh;
    background-color: green;
  }

  .blue {
    height: 100vh;
    background-color: blue;
  }
.calc__form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  .calc__result {
    display: inline-block;
    width: 30px;
    padding: 5px 10px;
    height: 15px;
    border: 1px solid blue;
  }

  